<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>General Market</title>
  </head>
  <body
    style='
      overflow: scroll;
      background: rgb(48, 48, 48);
      background: linear-gradient(180deg, rgba(48, 48, 48, 1) 24%, rgba(120, 120, 120, 1) 64%, rgba(235, 235, 235, 1) 100%);
      font-family: Arial, Helvetica, sans-serif;
      color: #f0f0f0;
      text-shadow: 0px 0px 5px grey;
    '
  >
    <div class='wrapper' style='padding: 1rem 10%'>
      <div class='main_container'>
        <h1 class='email_header' style='font-weight: 500'>Подтверждение адреса эл.почты</h1>
        <p class='email_body'>
          Для смены пароля от вашего аккаунта на сервисе General Market, вам нужно подтвердить ваш адрес электронной почты.
          Укажите его в указанном окне
        </p>
        <h2 class='email_code' style='font-weight: 400'>
          Ваш код подтверждения
          <span
            class='code_span'
            style='letter-spacing: 2px; font-family: Courier New; font-weight: bold; text-shadow: 0px 0px 5px black'
          >{{code}}</span>
        </h2>
      </div>
      <footer style='padding: 1rem 0'>
        <img
          class='footer_image'
          style='width: 100%'
          src='https://sun9-34.userapi.com/impg/FcvLxwTFz5kNgqSOAWw-icOYYFHD-FLMK4sXKQ/Z593lO0jGVc.jpg?size=1296x480&quality=95&sign=93dd56e43c0e96ecb532ff59f751615d&type=album'
        />
        <div class='links_container'>
          <a
            href='https://github.com/And1997Ruz'
            target='_blank'
            style='margin: 20px 20px; text-decoration: none; color: #f0f0f0; text-shadow: 0px 0px 10px black'
          >
            <div class='link_container'>
              <img
                class='footer_link_icon'
                style='width: 30px; padding: 15px 5px 0 0; display: inline-block; margin-top: 10px'
                src='https://sun9-58.userapi.com/impg/H1LjgBJhx4GQAzTdyocYmUI27T0U2h6g91FtLw/rAjanKVSGe8.jpg?size=512x512&quality=95&sign=e7544a50fe09f7064402b405c97e1e52&type=album'
              />
              <p style='display: inline-block'>Github аккаунт</p>
            </div>
          </a>
          <a
            href='https://kazan.hh.ru/resume/c4583d56ff09b9f76f0039ed1f33444e6e4f73'
            target='_blank'
            style='margin: 0 20px; text-decoration: none; color: #f0f0f0; text-shadow: 0px 0px 10px black'
          >
            <div class='link_container'>
              <img
                class='footer_link_icon'
                style='width: 30px; padding: 0 5px 0 0; display: inline-block'
                src='https://sun9-30.userapi.com/impg/DiRgkqvcuQCh4mqqzPhvl9MiHHZi4iHEPSvpSA/T29y4J18O3k.jpg?size=225x225&quality=95&sign=f4af068c56090b1003c48449b77518a1&type=album'
              />
              <p style='display: inline-block'>Head Hunter аккаунт</p>
            </div>
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>